<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(".Net Azure AD SimpleCode", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("邮箱", "MeAsync", "Email")</li>
                        <li>@Html.ActionLink("用户", "Index", "User")</li>
                    }
                    <li>@Html.ActionLink("使用介绍", "Index", "Home")</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid body-content">
        <div class="row" style="height:100%;">
            <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2" style="height:100%;">
                @RenderSection("Slide", false)
            </div>
            <div class="col-lg-9 col-md-9 col-xs-9 col-sm-9 " style="height:100%;">
                @RenderBody()
            </div>
        </div>
    </div>
    <hr/>
    <div class="navbar navbar-default navbar-fixed-bottom">
        <footer class="container">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>